<h1> <%= @article.name %></h1>

<h4>
  <%= @article.body %>
</h4>

<p>
  created by: <%= @article.user.name %>
</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Edit Article
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= form_for @article do |f| %>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit <%= @article.name %></h4>
      </div>
      <div class="modal-body">
        <%= f.text_field :name, class: "form-control", placeholder: 'title' %>
        <%= f.text_area :body, class: "form-control", placeholder: 'body' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Edit Article", class: "btn btn-primary" %>

      </div>
    </div>
  </div>
  <% end %>
</div>


<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Javascript</a></li>
  <li role="presentation"><a href="#">Ruby</a></li>
</ul>
