

<div class="row">
<h1 class="col-md-4"> Hello, <%= current_user.name %>! </h1>

<div class="listOfJavascriptMethods col-md-4"> <h1> My Javascript Methods </h1>
  <ul class="list-group">
    <% @user.articles.each do |a| %>
      <li>
        <h3> <%= link_to a.name, article_path(a) %> </h3>
      </li>
          <% end %>
    </ul>
  </div>

      <div class="listOfRubyMethods col-md-4"> <h1> My Ruby Methods </h1>
        <ul class="list-group">
      <% @user.rubies.each do |a| %>
        <li>
          <h3> <%= link_to a.name, ruby_path(a) %> </h3>
        </li>
      <% end %>
  </ul>
</div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Create New Javascript Article
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= form_for @article do |f| %>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Article</h4>
      </div>
      <div class="modal-body">
        <%= f.text_field :name, class: "form-control", placeholder: 'title' %>
        <%= f.text_area :body, class: "form-control", placeholder: 'body' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Create Article", class: "btn btn-primary" %>

      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myRubyModal">
  Create New Ruby Article
</button>

<!-- Modal -->
<div class="modal fade" id="myRubyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= form_for @ruby do |f| %>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myRubyModalLabel">New Ruby Article</h4>
      </div>
      <div class="modal-body">
        <%= f.text_field :name, class: "form-control", placeholder: 'title' %>
        <%= f.text_area :body, class: "form-control", placeholder: 'body' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Create Article", class: "btn btn-primary" %>

      </div>
    </div>
  </div>
  <% end %>
</div>
